*body{
    box-sizing: border-box;
}
/* ==========
    Font
=============== */
body{
    font-family: 'Roboto', sans-serif;
}
/* ===========
    Section
=============== */
section{
    margin-top: 0%;
    padding-top: 50px;
    padding-bottom: 0px;
}
/* ==============
    Style Line
=========== */
.style-line{
    border-top: 2px solid #000281;
    height: 10px;
    width: 140px;
    text-align: center;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
}
/* ====================
        Navbar
========================= */   
.my-navbar img {
    width: 200px;
    left: 20px;
}
.my-navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    overflow: hidden;
    background-color: white;
    align-items: center;
    z-index: 9;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my-navbar li {
    display: inline-block;

}
.my-navbar li a {
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #8c8c8c;
    font-weight: 1000;
    font-size: 13px;
    letter-spacing: 0px;
    z-index: 9;
}
.my-navbar a:hover {
    color: #000281;
  }
/*===========
     Slider
================ */
.slider {
    /* position: relative; */
    display: block;
    /* top: 60px; */
    margin-top: 72px;
}
.slider img{
    margin: 0px;
}
/*=================
     Mission
=================== */
.same h2 a{
font-weight: bold;
color: #676767;
text-decoration: none;
cursor: pointer;
text-transform: uppercase;
}
.same h2{
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
p {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.3em;
    margin-bottom: 1.25em;
    color: #494949;
    margin: 0 0 10px;
    text-align: center;
    display: block;
    margin: 1em;
    padding-bottom: 20px;
}
hr{
    margin: 30px;
   background-color: #000000;
}
.about{
    display: flex;
    margin-left: 57px;
    margin-right: 57px;
}
.side-pic img{
display: block;
    /* max-width: 100%; */
    height: auto;
    margin: 0 auto;
}
.side-text .intro{
text-align: left;
    line-height: 15px;
    width: 700px;
    margin-left: 20px;
}

.side-text h3{
    margin-left: 20px;
    color: #000281;
    font-size: 20px;
}
.ceo-text h3 p{
    margin-left: 0px;
}
.intro p{
    text-align: center;
}
.services{
    padding: 30px 0;
    background: #EDEDED;
    text-align: center;
    margin-left: 0px;
}
.work{
    padding: 30px 0;
    text-align: center;
    margin-left: 0px;
}
.margin{
    margin-left: 100px;
    margin-right: 100px;
}
.row{
    display: flex;
    flex-flow: row wrap;
  }
.column {
    flex: 20%;
    max-width: 23%;
    padding: 0 10px;
  }
.column a{
    font-weight: bold;
    color: #676767;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
  }
.column img{
      width: 100%;
    }
.column-five{
    color: #676767;
    flex: 15%;
    max-width: 20%;
    padding: 0 10px; 
}
.column-five img{
    width: 90%;
  }
.client-row{
    display: flex;
    flex-flow: row wrap;
    height: 100px;   
}
.client-column{
    flex: 15%;
    max-width: 20%;
    padding: 0 10px; 
}
.client-column img{
    width: 90%;

}
.footer-container{
    margin-top: 100px;
    padding: 30px 0;
    background: #333;
    margin-left: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.footer-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    /* font-size: 30px; */
    color: white;
  }
  .footer-container > div a{
   text-decoration: none;
  }
  
.footer-img{
    width: 200px;
}
.footer-links li{
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
    margin: 10px;
    margin-left: 30px;
    font-weight: bold;
}
.footer-links li a{
    color: white;
    margin: 60px;
}
address li{
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
    margin: 10px;
    margin-left: 30px;
    font-weight: bold;
}
address li a{
    text-decoration: none;
    color: white;
    
}
address{
    font-style: normal;
}
address li p{
    text-align: left;
    color: white;
}
.copyrights{
    background-color: rgb(27, 27, 27);
}
.copyrights p{
    color: rgb(148, 144, 144);
    text-align: justify;
    margin: 1px;
    padding-left: 100px;
    padding-top: 20px;
}